[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybabel = "*"
requests = "*"
pillow = "*"
tkcalendar = "*"

[dev-packages]
PyPackage
Weather

[requires]
python_version = "3.8"
