[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybabel = "*"
babel = "*"
requests = "*"
pillow = "*"
pil = "*"
python3-pil = '*'
python3-pil.imagetk = "*"

[dev-packages]
PyPackage
Weather

[requires]
python_version = "3.8"
